
            <html>
            <head><title>Logs</title></head>
            <link rel="stylesheet" type="text/css" href='/static/stylesheets/logstyle.css'/>
            <body>
            <div style="position:absolute; left:50px;z-index: 10;"> <img src="https://image.flaticon.com/icons/svg/61/61752.svg" alt="" onclick="window.history.go(-1); return false;" width="30vw;"> </div>
            <div title><h1 >Payment Logs</h1></div>
                <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Time</th>
      <th>Trx_id</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Payment Method</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10/07/2019 02:34 PM</td>
      <td>923872718</td>
      <td>100</td>
      <td>success</td>
      <td>qr-upi</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10/07/2019 02:38 PM</td>
      <td>295871020</td>
      <td>100</td>
      <td>success</td>
      <td>nfc-upi</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10/07/2019 02:38 PM</td>
      <td>350328383</td>
      <td>200</td>
      <td>failed</td>
      <td>nfc-upi</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10/07/2019 02:52 PM</td>
      <td>542094943</td>
      <td>300</td>
      <td>success</td>
      <td>nfc-upi</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10/07/2019 02:53 PM</td>
      <td>345982849</td>
      <td>230</td>
      <td>success</td>
      <td>gateway</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10/07/2019 02:55 PM</td>
      <td>348203534</td>
      <td>50</td>
      <td>failed</td>
      <td>qr-scan</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11/07/2019 08:12 AM</td>
      <td>348039090</td>
      <td>90</td>
      <td>false</td>
      <td>razorpay</td>
    </tr>
  </tbody>
</table>
            </body>
            </html>.
            