
            <html>
            <head><title>Logs</title></head>
            <link rel="stylesheet" type="text/css" href='/static/stylesheets/logstyle.css'/>
            <body>
            <div style="position:absolute; left:50px;z-index: 10;"> <img src="https://image.flaticon.com/icons/svg/61/61752.svg" alt="" onclick="window.history.go(-1); return false;" width="30vw;"> </div>
            <div title><h1 >Payment Logs</h1></div>
                <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Time</th>
      <th>Trx_id</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Payment Method</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10/07/2019 02:34 PM</td>
      <td>wow</td>
      <td>124</td>
      <td>True</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10/07/2019 02:38 PM</td>
      <td>wow</td>
      <td>124</td>
      <td>True</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10/07/2019 02:38 PM</td>
      <td>wow</td>
      <td>124</td>
      <td>True</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10/07/2019 02:52 PM</td>
      <td>99283</td>
      <td>2000</td>
      <td>True</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10/07/2019 02:53 PM</td>
      <td>xxxx</td>
      <td>2000xx</td>
      <td>False</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10/07/2019 02:55 PM</td>
      <td>hello</td>
      <td>2000xx</td>
      <td>False</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11/07/2019 08:12 AM</td>
      <td>hello</td>
      <td>2000xx</td>
      <td>False</td>
      <td>razorpay</td>
    </tr>
  </tbody>
</table>
            </body>
            </html>.
            