<div style="position:absolute; left:50px;z-index: 10;"> <img src="https://image.flaticon.com/icons/svg/61/61752.svg" alt="" onclick="window.history.go(-1); return false;" width="50px;"> </div>

<style>

[title]{

font-size:5vh;
font-family: -apple-system,system-ui,BlinkMacSystemFont;
color:rgba(0, 0, 0, 0.6);
margin-top:20px;
position: absolute;
left: 50%;
transform: translate(-50%);
white-space: nowrap;
}
[title2]{

font-size:5vh;
font-family: -apple-system,system-ui,BlinkMacSystemFont;
color:rgba(0, 0, 0, 0.6);
margin-top:20px;
left: 50%;
transform: translate(-50%);
position: absolute;
top:8vh;
font-size:4vh;
color:green;
white-space: nowrap;
/* left: 50%;
transform: translate(-50%); */
}
</style>


<div title>Please Scan NFC Enabled Device</div>
<div title2>Total Payble Amount ₹100 </div>

<div class="bodymovinanim"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.3/lottie_svg.min.js"></script>
<script>
let svgContainer = document.querySelector('.bodymovinanim');
    let animItem = bodymovin.loadAnimation({
      wrapper: svgContainer,
      animType: 'svg',
      loop: true,
      path: "https://assets2.lottiefiles.com/temp/lf20_uDCkn6.json"
    });
    
// NFC Request
fetch("http://localhost:5000/configview").then(e=>{return e.text()}).then(e=>{
    document.getElementById('vpa').value= e;
    console.log(e);
  })

let formData = new FormData();
formData.append('VPA', 'hello@upi');
formData.append('Amount', '100');
formData.append('Merchant','prashant');
fetch("/nfcpy",
    {
        body: formData,
        method: "post"
    });



    </script>