<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UPI</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js" ></script>	

        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/qr.css') }}">

        

      
<!-- qr thing   -->
</head>
<body>
    <div style="position:absolute; left:50px;z-index: 10; top:10px"> <img src="https://image.flaticon.com/icons/svg/61/61752.svg" alt="" onclick="window.history.go(-1); return false;" width="50px;"> </div>


    <div class="container">

   

            <h2 style="text-align: center;">Customer Payment Request</h2>
            <br>
            <button  type="button" class="btn btn-success submitt" id ="butt">Scan Customer's QR</button>
            <br>
        <br>
            <div class="video"> <video id="preview" style="display: none;"></video>
                <div id="qrsuccess" style="color:green;text-align: center;display:none"> Successfully Scanned QR Code</div>
                <div id="qrfail" style="color:red;text-align: center;display:none"> Failed to get QR</div>
            </div>
           <br>
        <!-- check qr.js for qr code -->

            <p>Fill below details:</p>
            <form id="upi">
                <!-- <div class="form-group">
                    <label for="mobile">Remitter Mobile Number:</label>
                    <input type="text" class="form-control" id="mobile" name="mobile">
                </div>
                <div class="form-group">
                    <label for="email">Remitter Email:</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div> -->
                <div class="form-group">
                    <label for="pa">Customer's VPA:</label>
                    <input type="text" class="form-control" id="pa" name="pa" value="">
                </div>
                <div class="form-group">
                    <label for="pn">Customer Name:</label>
                    <input type="text" class="form-control" id="pn" name="pn" value="">
                </div>
                <div class="form-group">
                    <label for="am">Amount:</label>
                    <input type="text" class="form-control" id="am" name="am" value="3000">
                </div>
                <!-- <div class="form-group">
                    <label for="tr">Transaction Reference ID:</label>
                    <input type="text" class="form-control" id="tr" name="tr">
                </div> -->
                <!-- <div class="form-group">
                    <label for="tn">Transaction Note:</label>
                    <input type="text" class="form-control" id="tn" name="tn">
                </div> -->
                <button  type="button" class="btn btn-primary submitt" id ="butt" onclick="upi()">Submit</button>
                <br><br>

                <div style="text-align: center;color:red; font-size: 25px;">  
                          <span id="loadin" style="display: none;">Loading Request...</span>
                          <div id="timer" style="display: none;">
                     <span id="min"> 3</span> : 
                      <span id="sec"> 60 </span>
                      </div>
</div>

         
            </form>


            <div class="alert alert-success alert-dismissable" id="alert-success" style="display:none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Success! message sent successfully.
            </div>
            <div class="alert alert-danger alert-dismissable" id="alert-danger" style="display:none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Failed! message not sent.
            </div>

            <div id="response" style="display:none;">
                <div class="row">
                    <div class="col-2"><b>UPI Link: </b></div>
                    <div class="col-10" id="upiLink"></div>
                </div>
                <div class="row">
                    <div class="col-2"><b>Short URL: </b></div>
                    <div class="col-10" id="shortURL"><a href=""></a></div>
                </div>
                <div id="qr" class="row">
                        <img class="rounded mx-auto d-block" src="" alt="" height="150" title="" width="150" />
                </div>
                <div class="text-center">Scan this QR to Pay directly from your mobile.</div>
            </div>
    
        </div>
    
        
</body>
<script src="{{ url_for('static', filename='scripts/qr.js') }}"></script>

</html>